.editCourse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    height: 105vh;
    overflow-y: hidden;
    h1{
        font-weight: bold;
        color: #194668;
    }
    .addCourse{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        align-items: flex-start;
        .addCourseUp{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            .leftEditCourse{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .rightEditCourse{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .editCoursesTable{
                width: 100%;
                height: 9vh;
                border-radius: 10px;
                border: none;
                background-color: #c2c6c7;
                padding: 1rem;
                border: none;
            }
        }
    }
    .editBtns{
        width: 50%;
        height: 9vh;
        background-color: #194668;
        color: white;
        border: none;
        border-radius: 10px;
        &:hover{
            background-color: #2c2d30;
        }
    }
    .addBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .deleteBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .states{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-size: 1.3rem;
        .courseState{
            width: 7%;
            height: 4vh;
        }
      }
}


@media screen and (max-width: 320px) {
    .editCourse{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        height: 140vh;
        overflow-y: hidden;
        .addCourse{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1rem;
            align-items: center;
            justify-content: flex-start;
            .addCourseUp{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;
                .leftEditCourse{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .rightEditCourse{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .editCoursesTable{
                    width: 100%;
                    height: 9vh;
                    border-radius: 10px;
                    border: none;
                    background-color: #c2c6c7;
                    padding: 1rem;
                    border: none;
                }
            }
        }  
    }
  }
    @media screen and (min-width: 320px) {
        .editCourse{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-weight: bold;
            height: 145vh;
            overflow-y: hidden;
            .addCourse{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 1rem;
                align-items: center;
                justify-content: flex-start;
                .addCourseUp{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    justify-content: center;
                    align-items: center;
                    .leftEditCourse{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                    .rightEditCourse{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                    .editCoursesTable{
                        width: 100%;
                        height: 9vh;
                        border-radius: 10px;
                        border: none;
                        background-color: #c2c6c7;
                        padding: 1rem;
                        border: none;
                    }
                }
            }  
            .editBtns{
                width: 50%;
                height: 9vh;
                background-color: #194668;
                color: white;
                border: none;
                border-radius: 10px;
                &:hover{
                    background-color: #2c2d30;
                }
            }
            .addBtn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .deleteBtn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
  }
  @media screen and (min-width: 470px) {
    .editCourse{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        height: 100vh;
        overflow-y: hidden;
        .addCourse{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4rem;
            align-items: flex-start;
            .addCourseUp{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                .leftEditCourse{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .rightEditCourse{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .editCoursesTable{
                    width: 100%;
                    height: 9vh;
                    border-radius: 10px;
                    border: none;
                    background-color: #c2c6c7;
                    padding: 1rem;
                    border: none;
                }
            }
        }
        .editBtns{
            width: 50%;
            height: 9vh;
            background-color: #194668;
            color: white;
            border: none;
            border-radius: 10px;
            &:hover{
                background-color: #2c2d30;
            }
        }
        .addBtn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .deleteBtn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }
  
  @media screen and (min-width: 768px) {
  }
  
  @media screen and (min-width: 991px) {
    .editCourse{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        height: 105vh;
        overflow-y: hidden;
        .addCourse{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 4rem;
            align-items: flex-start;
            .addCourseUp{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                .leftEditCourse{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .rightEditCourse{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .editCoursesTable{
                    width: 100%;
                    height: 9vh;
                    border-radius: 10px;
                    border: none;
                    background-color: #c2c6c7;
                    padding: 1rem;
                    border: none;
                }
            }
        }
        .editBtns{
            width: 50%;
            height: 9vh;
            background-color: #194668;
            color: white;
            border: none;
            border-radius: 10px;
            &:hover{
                background-color: #2c2d30;
            }
        }
        .addBtn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .deleteBtn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }
  
  @media screen and (min-width: 1200px) {
    /* font at lg */
    // html {
    //   font-size: 16px !important;
    // }
  }