.AllCoursesPage{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 2rem;
    // height: 100vh;
    h1{
        color: #194668;
        font-weight: bold;
    }
    .tableOfCourses{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        tr:nth-child(even){
            background-color: #f1f7f8;
        }
        th,td{
            border: 1px solid #a0c8cf;
            padding: 0.75rem;
            text-align: center;
        }
        th{
            background-color: #194668;
            color: #fff;
        }
        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .selectState{
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                align-items: flex-start;
                .activestate{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 0.7rem;
                    align-items: center;
                    input{
                        width: 14%;
                        height: 2.5vh;
                    }
                }
                .notActivestate{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 0.7rem;
                    align-items: center;
                    input{
                        width: 14%;
                        height: 2.5vh;
                    }
                }
            }
        }
        .icon{
            width: 2rem;
            height: 2rem;
            background-color: white;
            color: black;
            border-radius: 50%;
        } 
    }
    .btn{
        width: 50%;
        height: 6vh;
        background-color: #194668;
        color:white;
        border: 0;
        border-radius: 10px;
        &:hover{
            background-color: #2c2d30;
        }
    }
    .levels{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        button{
            width: 20%;
            height: 7vh;
            background-color: #194668;
            color:white;
            border: 0;
            border-radius: 10px;
            &:hover{
                background-color: #2c2d30;
            }
        }
    }
    
}